.navigation-outer {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navigation-button {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 800px) {
    .navigation-button {
        font-size: 1rem;
    }
}



.navigation-button-active {
    text-decoration: underline;
}